body {
  font-family: Inter;
  background-color: rgb(168, 230, 235);
  color: rgb(0, 0, 0);
  margin-left: 200px;
  margin-right: 200px;
}

p {
  text-decoration: solid;
}

a:link {
  color: rgb(184, 17, 11);
  text-decoration: none;
}
a:hover {
  color: rgb(196, 183, 13);
  text-decoration: solid;
  font-weight: bold;
}
a:visited {
  color: rgb(184, 17, 11);
  text-decoration: none;
}

.kalimatpembuka {
  font-size: xx-large;
  border: burlywood;
  border-radius: 50px;
}
